<%# Create a new view for StoreAdminController
called orders with an h2 that says "Welcome to Flatiron Open
Orders". Also add an ol with a few li elements
containing fake orders.

Now you should create a new layout called
order_administration and add an h1 that says
"Flatiron Widgets: Open Orders".

At this point, the store_admin#orders action
will use the admin layout you defined earlier,
but we need it to use the new order_administration layout.
The trick is we want only the store_admin#orders action to
use the order_administration layout, and we want to keep
the admin layout as the default for the other actions in
StoreAdminController. %>

<h2>Welcome to Flatiron Open Orders</h2>

<ol>
  <li>Order 1</li>
</ol>
